.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -----------------------------background----------------------------- */
* {
	margin:0;
	padding:0;
}

body::before {
		content:""; 
		position:fixed;
		z-index:-100;
		width:100%;
		height:100%;
		background-color:#14C2CC;
		background-image: 
		radial-gradient(circle farthest-side at top right, transparent, #0D64FF), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
		animation:bg-change 10s infinite;
}

@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}
/* -----------------------------background----------------------------- */
/* --------------------------------Cards------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

#c-img {
    width: 100%;
    border-radius: 12px;
    height: 800px;
    object-fit: cover;
}


.c-body {
    background-color: #1fa5da;
}

#card-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10vh;
}

.card {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #BACDD8;
}

.tag {
  font-family: 'Raleway', sans-serif;
  padding: 4px 8px;
  border: 1px solid #E5EAED;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;

}

.name {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #7F8C9B;
  line-height: 150%;
  margin-top: 1px;
}

button {
  border: none;
  padding: none;
}

/* --------------------------------Cards------------------------------- */
/* -------------------------------Buttons------------------------------ */

#share {
  margin-left: 4.5px;
  margin-right: 4.5px;
}

/* -------------------------------Buttons------------------------------ */
