.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
}

.card {
  text-align: center;
}

/* -----------------------------background----------------------------- */
* { /* reset margins and paddings on all elements */
	margin:0;
	padding:0;
}

body::before {
		content:""; /* required for ::before */
		position:fixed; /* don't scroll with page */
		z-index:-100; /* place behind elements on page */
		width:100%;
		height:100%;
		background-color:#14C2CC;
		background-image: 
		radial-gradient(circle farthest-side at top right, transparent, #0D64FF), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
		animation:bg-change 10s infinite;
}

@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}
/* -----------------------------background----------------------------- */
